html,
body {
  background-image: url("weddingimg.jpg");
  background-size: 3000px;
  position: center;
  background-image: cover;
  background-repeat: no-repeat;
  font-family: "Sorts Mill Goudy", serif;
  display: flex;
  text-align: center;
}

.appcontainer {
  width: 800px;
  height: 1500px;
  margin: 25px auto;
  background-color: white;
  border-style: double;
  border-color: black;
  text-align: center;
  font: size 20px;
  box-shadow: 10em;
  flex-direction: column;
  padding: 15px;
}

.apptitle {
  font-family: "Sacramento", serif;
  text-shadow: 10em;
  font-size: 66px;
  text-shadow: 10px;
}

span {
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  font-family: "Sorts Mill Goudy", serif;
}

#receptionListContainer,
#breakfastListContainer,
#ceremonyListContainer,
#supplierListContainer {
  font-size: 24px;
  font-style: oblique;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

#addsupplier,
#addceremony,
#addbreakfast,
#addreception {
  font-weight: bold;
  font-size: 25px;
}
